@model IEnumerable<OnlineStoreScraper.Models.ProductModel>

@{
    ViewData["Title"] = "ProductsList";
}

<h1>Products</h1>

<p>
    <a asp-action="AddProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
               Price UAH
            </th>
            <th>
               Image
            </th>
            <th>
                Link to Buy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src =@Html.DisplayFor(modelItem => item.ImageUrl)>
            </td>
            <td>
                <a href = @Html.DisplayFor(modelItem => item.ProductUrl)>
                Buy
               </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id=item.Id}) |
                @Html.ActionLink("Details", "Product", new { id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id})

            </td>
        </tr>
}
    </tbody>
</table>
