@model OnlineStoreScraper.Models.ProductModel

@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<div>
    <h4>ProductDetale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src =@Html.DisplayFor(model => model.ImageUrl)>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductUrl)
        </dt>
        <dd class = "col-sm-10">
            <a href=@Html.DisplayFor(model => model.ProductUrl)>
                Buy
                </a>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditProduct", new { id = Model.Id }) |
    <a asp-action="Products">Back to List</a>
</div>
